<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAV.TJ Index</title>
</head>
<body>
    {% load static %}
    {% include 'main_app/utilities/menu.html' %}

    <h3>Username: {{user.username}}</h3>
    <h3>First Name: {{user.first_name}}</h3>
    <h3>Last Name: {{user.last_name}}</h3>
    <h3>
        <a href="https://www.strava.com/athletes/{{user.extendeduser.strava_id}}">Strava Profile</a>
        [{{user.extendeduser.strava_id}}]
    </h3>

    
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}

        {{form.non_field_errors}}

        {% include 'main_app/utilities/forms.html' with form=form%}

        <button>Display!</button>
    </form>

    {% if graph_path is not None %}
        <img src="{{ MEDIA_URL }}{{graph_path}}" alt="Path didnt work (?)">
    {% endif %}

    {% include 'main_app/utilities/messages.html' %}
  
</body>
</html>