<header>


    <nav style="
        background-color: orange;
        width: 100%;
        padding: 0px 0px;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    ">
        <div>
            <h1>
                <a href="{% url 'index' %}" style="font-weight: bold; text-decoration: none; color: black;">
                    DAV.TJ
                </a>
            </h1>
        </div>
    
        <div style="display: flex; align-items: center; gap: 12px;">
            {% if not user.is_authenticated %}
                <span>Welcome, Guest!</span>
                <a href="{% url 'signup' %}"><button type="button">Register</button></a>
                <a href="{% url 'signin' %}"><button type="button">Sign In</button></a>
            {% else %}
                <span>Welcome, {{ user.first_name }}!</span>
                
                <a href="{% url 'signout' %}" style="padding-right: 10px;"><button type="button">Sign Out</button></a>
            {% endif %}
        </div>
    </nav>
</header>
